@if (isAlertVisible)
{
    @if (isSuccess)
    {
        <div class="alert alert-success" role="alert">
            Success! @message
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Error occured!
        </div>
    }

}

@code {
    [Parameter]
    public bool isSuccess { get; set; }

    [Parameter]
    public bool isAlertVisible { get; set; } = false;

    [Parameter]
    public string message { get; set; } = "Success message";
}
