@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<button class="btn btn-primary" style="font-size: 18px; padding: 10px;" @onclick="(() => CreateItem())">
    <i class="oi oi-pencil"></i> Create new @buttonName
</button>

@code {
    [Parameter]
    public string buttonName { get; set; }

    [Parameter]
    public string uri { get; set; }

    void CreateItem()
    {
        NavigationManager.NavigateTo(uri);
    }
}
