@inject NavigationManager NavigationManager
@inject ICategoryService CategoryService
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<button class="btn btn-danger" style="font-size: 14px; padding: 10px;" @onclick="(() => DeleteItem(itemId, entityType))">
    <i class="oi oi-pencil"></i> Delete
</button>

@code {
    [Parameter]
    public int itemId { get; set; }

    [Parameter]
    public EntityType entityType { get; set; }

    public async Task<bool> DeleteItem(int id, EntityType eType)
    {
        switch (eType)
        {
            case EntityType.Category:
                return await CategoryService.DeleteCategory(itemId);
            default:
                throw new ArgumentOutOfRangeException("Entity type not found");
        }
    }
}
