@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<button class="btn btn-primary" style="font-size: 14px; padding: 10px;" @onclick="(() => EditItem())">
    <i class="oi oi-pencil"></i> Edit
</button>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public string uri { get; set; }

    void EditItem()
    {
        NavigationManager.NavigateTo($"{uri}{id}");
    }
}
